# Requires Python >= 3.10

streamlit
pandas
numpy
scikit-learn
plotly
joblib
requests
python-dotenv
bcrypt
pymongo[srv]
pytz
yfinance
fpdf2
kaleido==0.2.1

# PPO Advisory Agent
torch

# News Sentiment
transformers
feedparser
